[gearman_server]
listen_address = 0.0.0.0
log_config = /etc/zuul/gearman-logging.conf
start = true

[gearman]
server = 127.0.0.1
port = 4730

[zuul]
layout_config = /etc/zuul/config/layout.yaml
log_config = /etc/zuul/server-logging.conf
pidfile = /var/run/zuul-server/zuul-server.pid
state_dir = /var/lib/zuul
url_pattern=http://120.24.17.215/{build.parameters[LOG_PATH]}

[gerrit]
port = {{ gerrit_port | default ('29418') }}
server = {{ gerrit_server | default('127.0.0.1') }}
sshkey = {{ gerrit_sshkey | default('/home/zuul/.ssh/id_rsa') }}
user = {{ gerrit_user | default('zuul') }}

[launcher]
jenkins_jobs=/var/lib/zuul
log_config = /etc/zuul/launcher-logging.conf
workspace_root=/var/lib/zuul/workspace

[merger]
git_dir = /var/lib/zuul/git
log_config = /etc/zuul/merger-logging.conf
pidfile = /var/run/zuul-merger/zuul-merger.pid
zuul_url = 127.0.0.1
git_user_email=hu.zhijiang@zte.com.cn
git_user_name=huzhj
